<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operation feedback</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h1>Operation feedback</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        {% if nutrition_analysis %}
            <h2>Nutritional analysis</h2>
            <p>{{ nutrition_analysis }}</p>
        {% endif %}
        <a href="/health">Back to Health Home</a>
    </div>
</body>

