<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Management</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the health management system</h1>
        <form action="/health/update_weight_form" method="post">
            <p><input type="submit" value="Update weight & calculate BMI"></p>
        </form>
        <form action="/health/submit_exercise_form" method="post">
            <p><input type="submit" value="Submit exercise data"></p>
        </form>
        <form action="/health/submit_food_form" method="post">
            <p><input type="submit" value="Submit diet data"></p>
        </form>
        <form action="/health/generate_report" method="post">
            <p><input type="submit" value="Generate health report"></p>
        </form>
    </div>
</body>
</html>

