<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit dietary data</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h1>Submit dietary data</h1>
        <form action="/health/submit_food" method="POST">
            <label for="food_list">Food list (comma separated): </label>
            <input type="text" id="food_list" name="food_list" required>
            <button type="submit">Submit dietary data</button>
        </form>
        <a href="/health">Back to Health Home</a>
    </div>
</body>


