<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update weight & calculate BMI</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h1>Update weight & calculate BMI</h1>
        <form action="/health/update_weight" method="POST">
            <label for="weight">Weight (kg): </label>
            <input type="number" id="weight" name="weight" required>
            <button type="submit">Update weight</button>
        </form>
        <a href="/health">Back to Health Home</a>
    </div>
</body>


